{% if page_obj %}
    <script>
        function change_page(number) {
        const paramsString = window.location.search;
        const searchParams = new URLSearchParams(paramsString);
        searchParams.set('page', number);
        window.location.search = searchParams.toString()
        }
    </script>

    <div class="pagination m-2">
        <span class="pagination__nav">
            {% if page_obj.has_previous %}
                <a href="javascript:change_page(1)">&laquo; Pierwsza</a>
                <a href="javascript:change_page({{ page_obj.previous_page_number }})">Poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="javascript:change_page({{ page_obj.next_page_number }})">Nastepna</a>
                <a href="javascript:change_page({{ page_obj.paginator.num_pages }})">Ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <div class="m-2">
        <span class="current">
            Strona 0 z 0.
        </span>
    </div>
{% endif %}
